BasedOnStyle: Google

ColumnLimit: 80
IndentWidth: 2
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2

AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
InsertBraces: true

IndentRequiresClause: false
PointerAlignment: Left
QualifierAlignment: Custom
QualifierOrder: [inline, static, constexpr, friend, type]
RequiresClausePosition: WithPreceding

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterRequiresInClause: true